Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
  stage_fixed: true

fix: getMovablePosY の speed パラメータにデフォルト値を追加
  src/utils/comment.ts
Due: lint, typecheck

fix: arrayPush ベンチマークの型安全性を改善
  tests/bench/utils.bench.ts
Due: lint, typecheck

chore: add funding.yml
  .github/FUNDING.yml
Due: none

fix: apply lint fix
  src/@types/index.ts
  src/definition/config.ts
  src/eventHandler.ts
  src/input/legacyOwner.ts
  src/main.ts
  src/utils/comment.ts
  src/utils/flash.ts
Due: lint, typecheck

chore: migrate config
  biome.json
  package.json
Due: lint

chore: approve build
  package.json
Due: lint

feat: claude.md
  .gitignore
  CLAUDE.md
Due: none

chore: update permissions and remove unused environment variable in release workflow
  .github/workflows/release-publish-package.yml
Due: none

chore: update schema path in biome.json to use local configuration
  biome.json
Due: lint

Add packageRules to disable patch updates
  renovate.json
Due: lint

fix: upgrade dependencies to fix audit warning
  package.json
  pnpm-lock.yaml
Due: lint

chore: add optimize performance plan
  plans/exec-plan-performance.md
Due: none

chore: add plans.md
  .agent/PLANS.md
Due: none

chore: add test workflow
  .github/workflows/pr-test-vitest.yml
  package.json
Due: lint

update: playwright screenshots
  src/__tests__/test.spec.ts-snapshots/11-55-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
Due: none

fix: ensure minimum character size during resize calculations
  src/comments/HTML5Comment.ts
Due: lint, typecheck

fix: ensure minimum line height and character size during resizing
  .github/workflows/pr-test-vitest.yml
  src/comments/HTML5Comment.ts
Due: lint, typecheck

feat: add WebGL2 renderer for reduced compositing overhead
  docs/sample/sample.js
  src/@types/renderer.ts
  src/main.ts
  src/renderer/canvas.ts
  src/renderer/index.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: lint

fix: fmt
  src/contexts/cache.ts
  src/contexts/nicoscript.ts
  src/contexts/plugins.ts
  src/definition/colors.ts
  src/definition/config.ts
  src/definition/fonts.ts
  src/definition/initConfig.ts
  src/errors/CanvasRenderingContext2DError.ts
  src/errors/InvalidFormatError.ts
  src/errors/InvalidOptionError.ts
  src/errors/NotImplementedError.ts
  src/errors/TypeGuardError.ts
  src/renderer/canvas.ts
Due: lint, typecheck

fix: address code review findings for WebGL2 renderer
  docs/sample/sample.js
  src/renderer/index.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: un-premultiply getImageData RGB and reset scale in setSize
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: setSize helper cleanup, useProgram hygiene, precise fallback
  src/renderer/index.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: use premultiplied alpha blending for correct transparency
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: premultiplied texture upload, robust fallback, drawVideo guard
  src/renderer/index.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

docs: document clearRect bounds, drawImage type constraint, flush ordering
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: robust fallback for WebGL2-bound canvas, helper invalidation
  src/renderer/index.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: safe DOM fallback with attribute preservation, drawVideo docs
  src/renderer/index.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: forceUpload rollback safety and flush error boundary
  src/renderer/webgl2.ts
Due: lint, typecheck

perf: optimize comment image generation pipeline
  src/comments/BaseComment.ts
  src/comments/HTML5Comment.ts
  src/contexts/cache.ts
  src/renderer/canvas.ts
  src/renderer/canvasPool.ts
Due: lint, typecheck

fix: use explicit rendererName property, guard zero-size tiles
  src/@types/renderer.ts
  src/main.ts
  src/renderer/canvas.ts
  src/renderer/webgl2.ts
  tests/bench/helpers.ts
Due: lint, typecheck

fix: remove erroneous translate re-application in setSize
  src/renderer/canvas.ts
Due: lint, typecheck

fix: FakeRenderer interface compliance, constructor leak, strokeRect edges
  src/renderer/webgl2.ts
  tests/bench/helpers.ts
Due: lint, typecheck

refactor: address code review findings
  src/comments/BaseComment.ts
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
  src/renderer/canvasPool.ts
Due: lint, typecheck

fix: delete old GL handles in _rebuildGLResources before recreating
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: guard context-restore errors, revert strokeRect side-edge condition
  src/renderer/webgl2.ts
Due: lint, typecheck

fix: preserve scale state in save/restore, add texture unbind and context cleanup
  src/@types/renderer.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
