Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
      stage_fixed: true

fix: gate YT video controls on duration availability
  docs/sample/sample.js
Due: lint

style: parseInt to parseFloat and explicit Promise.resolve in loadYTVideo
  docs/sample/sample.js
Due: lint

fix: version selector robustness improvements
  docs/sample/sample.js
Due: lint

fix: formatTime hours support and immediate play button on YT switch
  docs/sample/sample.js
Due: lint

fix: enable seek bar immediately on YT player reuse for symmetry with new-player path
  docs/sample/sample.js
Due: lint

fix: enable seek bar on NicoNico loadComplete for symmetry with YT path
  docs/sample/sample.js
Due: lint

fix: use sentinel max on NicoNico loadComplete to prevent premature seek clamping
  docs/sample/sample.js
Due: lint

fix: reset time after first seek and defer NicoNico seek bar until duration
  docs/sample/sample.js
Due: lint

fix: defer YT seek bar enable to onStateChange and use orphan dev-build branch
  .github/workflows/dev-build.yml
  docs/sample/sample.js
Due: lint

fix: robustness and correctness improvements to sample player
  docs/sample/index.html
  docs/sample/localize.js
  docs/sample/sample.css
  docs/sample/sample.js
Due: lint

fix: address P2 code review findings in sample player
  docs/sample/sample.js
Due: lint

fix: address P2 UX findings in sample player
  docs/sample/sample.js
Due: lint

fix: make CONTROLS_BAR_HEIGHT a live read to respect noVideo override
  docs/sample/sample.js
Due: lint

fix: re-enable play button on YT player reuse and warn on version fetch error
  docs/sample/sample.js
Due: lint

fix: guard stale niconico timeout cleanup
  docs/sample/sample.js
Due: lint

fix: handle YouTube API load failure
  docs/sample/sample.js
Due: lint

chore: bump version to v0.2.77
  package.json
Due: lint

ci: migrate npm publish to OIDC trusted publishing
  .github/workflows/release-publish-package.yml
Due: none

fix: add node types to tsconfig for typedoc compatibility
  tsconfig.json
Due: lint

fix: invalidate WebGL texture cache when canvas is returned to pool
  src/renderer/webgl2.ts
Due: lint, typecheck

refactor: use onDestroy callback instead of instance method patching
  src/renderer/canvas.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

chore: bump version to v0.2.78
  package.json
Due: lint

dev build
  dist/bundle.js
Due: lint

chore: approve builds
  package.json
Due: lint

chore: approve builds
  package.json
  pnpm-workspace.yaml
Due: lint

fix: allow esbuild and lefthook build scripts for pnpm v10 compatibility
  package.json
Due: lint

fix(deps): add requiresBuild to esbuild and lefthook in lockfile
  pnpm-lock.yaml
Due: none

fix(deps): migrate from deprecated onlyBuiltDependencies to allowBuilds
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

ci: replace Node.js 20 with 26 in test matrix
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
Due: none

ci: replace Node.js 20 with 26 in test matrix (#280)
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
Due: none

fix: eliminate module-scope shared state for multi-instance safety
  src/@types/config.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/contexts/cache.ts
  src/contexts/index.ts
  src/contexts/instanceContext.ts
  src/contexts/nicoscript.ts
  src/contexts/plugins.ts
  src/definition/config.ts
  src/eventHandler.ts
  src/main.ts
  src/utils/color.ts
  src/utils/comment.ts
  src/utils/commentArt.ts
  src/utils/flash.ts
  src/utils/niconico.ts
  src/utils/plugins.ts
  src/utils/rangeCache.ts
Due: lint, typecheck

fix: address multi-instance review findings
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/contexts/cache.ts
  src/main.ts
  src/utils/flash.ts
Due: lint, typecheck

fix: initialize _flashScriptCharRegex as getter to avoid constructor ordering issue
  src/comments/FlashComment.ts
Due: lint, typecheck

fix: eliminate module-scope shared state for multi-instance safety (#282)
  src/@types/config.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/contexts/cache.ts
  src/contexts/index.ts
  src/contexts/instanceContext.ts
  src/contexts/nicoscript.ts
  src/contexts/plugins.ts
  src/definition/config.ts
  src/eventHandler.ts
  src/main.ts
  src/utils/color.ts
  src/utils/comment.ts
  src/utils/commentArt.ts
  src/utils/flash.ts
  src/utils/niconico.ts
  src/utils/plugins.ts
  src/utils/rangeCache.ts
Due: lint, typecheck

fix: package.json
  package.json
Due: lint

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint

fix: lockfile
  pnpm-lock.yaml
Due: none

fix: package.json (#283)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint
