Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
  stage_fixed: true

fix: normalize collisionLayer for dynamically-added owner comments
  src/main.ts
  tests/bench/helpers.ts
  tests/unit/destroy-lifecycle.spec.ts
  tests/unit/duration-lazy.spec.ts
  tests/unit/flash-resource-bounds.spec.ts
  tests/unit/html5-resource-bounds.spec.ts
  tests/unit/init-option-config-bounds.spec.ts
  tests/unit/nicoscript-range.spec.ts
  tests/unit/renderer-draw-robustness.spec.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

refactor: compute collisionLayer's owner default at construction time
  src/@types/format.formatted.ts
  src/input/legacy.ts
  src/input/legacyOwner.ts
  src/input/owner.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/main.ts
  src/utils/collisionLayer.ts
  src/utils/flash.ts
  src/utils/index.ts
  tests/unit/collision-layer-defaults.spec.ts
  tests/unit/movable-collision.spec.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

refactor: express ZCommentLayer as a union of named sentinels + group-id range
  src/@types/format.formatted.ts
  src/@types/format.numeric.ts
  tests/unit/collision-layer-defaults.spec.ts
Due: lint, typecheck

refactor: drop the collisionLayer rename, keep a single layer field
  src/@types/IComment.ts
  src/@types/format.formatted.ts
  src/@types/types.ts
  src/comments/BaseComment.ts
  src/input/legacy.ts
  src/input/legacyOwner.ts
  src/input/owner.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/utils/comment.ts
  src/utils/commentArt.ts
  src/utils/flash.ts
  tests/bench/helpers.ts
  tests/unit/collision-layer-defaults.spec.ts
  tests/unit/comment-art-resource-bounds.spec.ts
  tests/unit/destroy-lifecycle.spec.ts
  tests/unit/duration-lazy.spec.ts
  tests/unit/flash-resource-bounds.spec.ts
  tests/unit/html5-resource-bounds.spec.ts
  tests/unit/init-option-config-bounds.spec.ts
  tests/unit/movable-collision.spec.ts
  tests/unit/nicoscript-range.spec.ts
  tests/unit/renderer-draw-robustness.spec.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

fix: normalize owner comments that carry the plain viewer layer sentinel
  src/@types/format.formatted.ts
  tests/unit/collision-layer-defaults.spec.ts
Due: lint, typecheck

refactor: layer に乗っていた関心事を分離(ignoreScale切り出し・当たり判定の再設計) (#410)
  src/@types/IComment.ts
  src/@types/format.formatted.ts
  src/@types/format.numeric.ts
  src/@types/types.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/input/legacy.ts
  src/input/legacyOwner.ts
  src/input/owner.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/utils/comment.ts
  src/utils/commentArt.ts
  src/utils/flash.ts
  tests/bench/helpers.ts
  tests/unit/collision-layer-defaults.spec.ts
  tests/unit/comment-art-resource-bounds.spec.ts
  tests/unit/destroy-lifecycle.spec.ts
  tests/unit/duration-lazy.spec.ts
  tests/unit/flash-resource-bounds.spec.ts
  tests/unit/html5-resource-bounds.spec.ts
  tests/unit/init-option-config-bounds.spec.ts
  tests/unit/movable-collision.spec.ts
  tests/unit/nicoscript-range.spec.ts
  tests/unit/renderer-draw-robustness.spec.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

feat: add nico:scale / nico:ignore-global-scale custom commands
  docs/index.html
  docs/localize.js
  src/@types/types.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/utils/comment.ts
Due: lint, typecheck

fix: bound nico:scale to [0.01, 10]
  docs/index.html
  src/utils/comment.ts
Due: lint, typecheck

fix: align nico:scale bounds with options.scale
  docs/index.html
  src/typeGuard.ts
  src/utils/comment.ts
Due: lint, typecheck

feat: nico:scale / nico:ignore-global-scale コマンドを追加 (#412)
  docs/index.html
  docs/localize.js
  src/@types/types.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/typeGuard.ts
  src/utils/comment.ts
Due: lint, typecheck

chore: bump version to v0.3.2
  README.en.md
  README.md
  docs/index.html
  docs/sample/index.html
  docs/sample/sample.js
  package.json
Due: lint

fix: FormattedComment を公開APIの入力型として使わず InferInput ベースの型を導入
  src/@types/format.formatted.ts
  src/@types/options.ts
  src/main.ts
Due: lint, typecheck

fix: nico:scale コマンドの倍率が content 再設定で失われるバグを修正
  src/@types/types.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/utils/comment.ts
Due: lint, typecheck

test: nico:scale の commandScale が content 再設定後も保持されることを検証する回帰テストを追加
  tests/unit/flash-resource-bounds.spec.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

fix: FormattedComment を再び緩い入力型に戻し、内部の確定済み型は ResolvedFormattedComment に分離
  src/@types/config.ts
  src/@types/format.formatted.ts
  src/@types/input-parser.ts
  src/@types/options.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/input/empty.ts
  src/input/formatted.ts
  src/input/legacy.ts
  src/input/legacyOwner.ts
  src/input/owner.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/inputParser.ts
  src/main.ts
  src/utils/comment.ts
  src/utils/commentArt.ts
  src/utils/flash.ts
  src/utils/plugins.ts
Due: lint, typecheck

chore: bump version to v0.4.0
  README.en.md
  README.md
  docs/index.html
  docs/sample/index.html
  docs/sample/sample.js
  package.json
Due: lint

refactor: PR #413 レビュー指摘の効率性・重複コードを解消
  src/@types/format.numeric.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/input/legacy.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/utils/comment.ts
Due: lint, typecheck

dev build
  dist/bundle.js
Due: lint

fix: ignore trailing empty nicoscript argument
  src/utils/comment.ts
Due: lint, typecheck

test: cover omitted nicoscript replace arguments
  tests/unit/nicoscript-range.spec.ts
Due: lint, typecheck

ci: consolidate test workflows
  .github/workflows/ci.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
  docs/coding-agent/lessons.md
  docs/coding-agent/plans/completed/ci-test-workflow-cleanup-plan.md
Due: none

chore: drop unrelated test formatting diff
  tests/unit/nicoscript-range.spec.ts
Due: lint, typecheck

chore: bump version to v0.4.1
  README.en.md
  README.md
  docs/index.html
  docs/sample/index.html
  docs/sample/sample.js
  package.json
Due: lint

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
