Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
  stage_fixed: true

fix: harden sample CDN version loading
  README.md
  docs/index.html
  docs/sample/sample.js
Due: lint

Harden workflow token handling
  .github/workflows/dev-build.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
Due: none

Harden Playwright artifact comment workflow
  .github/workflows/pr-test-playwright-comment.yml
  .github/workflows/pr-test-playwright.yml
Due: none

fix: optimize input user ID parsing and XML dispatch
  src/input/legacy.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/inputParser.ts
  tests/unit/inputParser.spec.ts
Due: lint, typecheck

fix: harden XMLDocument parser validation
  src/input/xmlDocument.ts
  tests/unit/inputParser.spec.ts
Due: lint, typecheck

fix: bound comment durations and lazy expansion
  src/main.ts
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

fix: tighten sample version validation
  docs/sample/sample.js
Due: lint

test: cover addComments hostile durations
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

fix: tighten XMLDocument parser error handling
  src/input/xmlDocument.ts
Due: lint, typecheck

Pin write-job workflow actions
  .github/workflows/dev-build.yml
  .github/workflows/release-typedoc.yml
Due: none

Pin build workflow actions
  .github/workflows/dev-build.yml
  .github/workflows/release-typedoc.yml
Due: none

refactor: share stable input user ID assignment
  src/input/legacy.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
Due: lint, typecheck

Pin release publish actions
  .github/workflows/release-publish-package.yml
Due: none

Fix workflow action pinning
  .github/workflows/dev-build.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
Due: none

Guard manual workflow writes
  .github/workflows/dev-build.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
Due: none

fix: tighten lazy window follow-up
  src/main.ts
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Tighten Playwright artifact validation
  .github/workflows/pr-test-playwright-comment.yml
Due: none

Match Playwright artifact glob exactly
  .github/workflows/pr-test-playwright-comment.yml
Due: none

Trim workflow artifact retention
  .github/workflows/dev-build.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
Due: none

Serialize typedoc workflow runs
  .github/workflows/release-typedoc.yml
Due: none

Reject dot-only artifact path segments
  .github/workflows/pr-test-playwright-comment.yml
Due: none

Validate comment length before artifact push
  .github/workflows/pr-test-playwright-comment.yml
Due: none

fix: avoid lazy scan work on idle frames
  src/main.ts
Due: lint, typecheck

Restore PR read permission for workflow guard
  .github/workflows/pr-test-playwright-comment.yml
Due: none

Fail closed on PR context API errors
  .github/workflows/pr-test-playwright-comment.yml
Due: none

fix: tighten lazy comment scan cache
  src/main.ts
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

fix: separate nicoscript duration bounds
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

fix: fallback lazy resolution for unsorted input
  src/main.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

test: cover plugin lazy fallback ordering
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

fix: tighten lazy lookahead handling
  src/main.ts
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Fix timeline insertion complexity
  src/main.ts
  src/utils/comment.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

Limit lazy timeline sorting scope
  src/main.ts
Due: lint, typecheck

Bound HTML5 comment rendering resources
  src/comments/BaseComment.ts
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
  src/utils/niconico.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Address resource bound review findings
  src/comments/BaseComment.ts
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
  src/utils/niconico.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Fix padded canvas cache review issues
  src/comments/BaseComment.ts
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Restore canvas state after bounded resize
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Document canvas area bound invariant
  src/comments/HTML5Comment.ts
Due: lint, typecheck

Avoid visual shift in canvas bounds
  src/comments/BaseComment.ts
  src/renderer/canvas.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Share canvas area bound constant
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
Due: lint, typecheck

Add HTML5 CSS renderer
  docs/sample/test.html
  src/__tests__/html5css-renderer.spec.ts
  src/renderer/html5css.ts
  src/renderer/index.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
