Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
      stage_fixed: true

Update remaining canvas padding snapshots
  src/__tests__/test.spec.ts-snapshots/11-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-90-firefox-linux.png
Due: none

Update final canvas padding snapshot
  src/__tests__/test.spec.ts-snapshots/15-105-firefox-linux.png
Due: none

Fix WebGL custom renderer texture invalidation
  src/__tests__/webgl2-renderer.spec.ts
  src/renderer/webgl2.ts
Due: lint, typecheck

Guard WebGL image invalidation
  src/renderer/webgl2.ts
Due: lint, typecheck

Fix scaled canvas clear
  src/renderer/canvas.ts
  tests/unit/canvas-renderer-clear.spec.ts
Due: lint, typecheck

Account for transform when clearing canvas
  src/renderer/canvas.ts
  tests/unit/canvas-renderer-clear.spec.ts
Due: lint, typecheck

Fix Flash hit testing scale handling
  src/comments/FlashComment.ts
  tests/unit/flash-resource-bounds.spec.ts
Due: lint, typecheck

Harden Flash hit-test regression test
  tests/unit/flash-resource-bounds.spec.ts
Due: lint, typecheck

Fix plugin transforms before timeline build
  src/main.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Guard cached image renderer destroy
  src/comments/BaseComment.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Clean up legacy image cache tests
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Guard image cache reset cleanup
  src/comments/BaseComment.ts
  src/contexts/cache.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Document legacy cache cleanup behavior
  src/comments/BaseComment.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Avoid timeout order coupling in cache tests
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Fix git package lifecycle build
  package.json
Due: lint

Harden package prepare lifecycle
  package.json
Due: lint

Use portable prepare fallback
  package.json
Due: lint

ci: allow typedoc deploy from develop via workflow_dispatch and update artifact actions to Node.js 24
  .github/workflows/release-typedoc.yml
Due: none

ci: update pinned action SHAs to Node.js 24 compatible versions
  .github/workflows/dev-build.yml
  .github/workflows/pr-test-playwright-comment.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
Due: none

fix: preserve static docs files in typedoc branch
  .github/workflows/release-typedoc.yml
Due: none

ci: pin action references to full commit SHAs with version comments
  .github/workflows/dev-build.yml
  .github/workflows/pr-test-playwright-comment.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
Due: none

fix: remove unnecessary static docs validation gate
  .github/workflows/release-typedoc.yml
Due: none

ci: replace typedoc branch push with GitHub Pages direct deployment
  .github/workflows/release-typedoc.yml
Due: none

ci: restrict workflow_dispatch to master and restore persist-credentials
  .github/workflows/release-typedoc.yml
Due: none

Allow workflow_dispatch from develop branch in release-typedoc.yml
  .github/workflows/release-typedoc.yml
Due: none

fix: measure text at drawScale to prevent clipping in WKWebView
  src/@types/renderer.ts
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
  src/utils/niconico.ts
Due: lint, typecheck

fix: use comment parameter layer instead of this.comment, instance _measureAtScale
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
Due: lint, typecheck

fix: measure FlashComment text at drawScale to prevent WKWebView clipping
  src/comments/FlashComment.ts
Due: lint, typecheck

refactor: extract measureText helper outside loop in _measureContent
  src/comments/FlashComment.ts
Due: lint, typecheck

fix: skip canvas allocation for visually blank comments
  src/comments/BaseComment.ts
Due: lint, typecheck

refactor: use Unicode escape sequences in VISUALLY_BLANK_RE
  src/comments/BaseComment.ts
Due: lint, typecheck

chore: update deps
  package.json
  pnpm-lock.yaml
Due: lint

chore: bump version to v0.3.0
  package.json
Due: lint

chore(ci): pin workflow actions to commit hashes
  .github/workflows/cleanup-playwright-artifacts.yml
  .github/workflows/playwright-update.yml
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-codeql-analysis.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
  .github/workflows/release-create-release.yml
Due: none

docs: clarify WKWebView canvas font matching cause
  src/@types/renderer.ts
  src/renderer/canvas.ts
Due: lint, typecheck

chore: add dependabot config for github-actions ecosystem
  .github/dependabot.yml
Due: none

docs: clarify WKWebView canvas font matching cause (#337)
  src/@types/renderer.ts
  src/renderer/canvas.ts
Due: lint, typecheck

chore(ci): pin workflow actions to commit hashes (#336)
  .github/dependabot.yml
  .github/workflows/cleanup-playwright-artifacts.yml
  .github/workflows/playwright-update.yml
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-codeql-analysis.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
  .github/workflows/release-create-release.yml
Due: none

chore: fix sample
  docs/sample/index.html
  docs/sample/localize.js
Due: lint
