Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
      stage_fixed: true

feat: add nico:opacity command
  src/@types/types.ts
  src/comments/BaseComment.ts
  src/utils/comment.ts
Due: lint, typecheck

fix: make @逆 target setting optional
  src/utils/comment.ts
Due: lint, typecheck

fix: remove unnecessary hooks
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

fix: upgrade workflow image
  .github/workflows/pr-test-playwright.yml
Due: none

update: playwright screenshots
  src/__tests__/test.spec.ts-snapshots/11-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/22-140-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
Due: none

refactor: move range check to parse function
  src/comments/BaseComment.ts
  src/utils/comment.ts
Due: lint, typecheck

chore: add opacity command to document
  docs/index.html
  docs/localize.js
Due: lint

fix: re-add necessary hooks
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

fix: hook scripts
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: lint

chore: upgrade valibot to stable version
  package.json
  pnpm-lock.yaml
Due: lint

fix: migrate valibot to v0.31 or later
  src/@types/fonts.ts
  src/@types/format.formatted.ts
  src/@types/format.legacy.ts
  src/@types/format.owner.ts
  src/@types/format.v1.ts
  src/@types/format.xml2js.ts
  src/@types/options.ts
  src/@types/types.ts
  src/typeGuard.ts
Due: lint, typecheck

refactor: release workflow
  .github/workflows/release-create-release.yml
  .github/workflows/release-createDraftRelease.yml
Due: none

fix: remove unnecessary checkout command
  .github/workflows/release-create-release.yml
Due: none

chore: bump version to v0.2.74
  package.json
Due: lint

fix: branch name
  .github/workflows/release-create-release.yml
Due: none

fix: jump duration process
  src/utils/comment.ts
Due: lint, typecheck

fix: set lineJoin to 'round' for smoother stroke rendering
  src/renderer/canvas.ts
Due: lint, typecheck

chore: bump version to v0.2.75
  package.json
Due: lint

fix: reduce html5 comment size
  src/comments/HTML5Comment.ts
Due: lint, typecheck

feat: add padding to canvas renderer
  src/@types/renderer.ts
  src/comments/HTML5Comment.ts
  src/renderer/canvas.ts
Due: lint, typecheck

Update src/comments/HTML5Comment.ts
  src/comments/HTML5Comment.ts
Due: lint, typecheck

fix: format
  src/comments/HTML5Comment.ts
Due: lint, typecheck

chore: ugprade dependencies
  package.json
  pnpm-lock.yaml
Due: lint

chore: remove husky hook from git
  .gitignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: none

chore: set min node version
  package.json
Due: lint

chore: add test target version
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
Due: none

chore: refactor workflow
  .github/workflows/playwright-update.yml
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
  .github/workflows/release-create-release.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
Due: none

chore: rewrite permission
  .github/workflows/playwright-update.yml
  .github/workflows/pr-test-linter.yml
Due: none

chore: update release workflow
  .github/workflows/release-create-release.yml
  .github/workflows/release-publish-package.yml
Due: none

chore: update codeql
  .github/workflows/pr-test-codeql-analysis.yml
Due: none

chore: add target branch
  .github/workflows/pr-test-codeql-analysis.yml
Due: none

Potential fix for code scanning alert no. 8: Workflow does not contain permissions
  .github/workflows/release-typedoc.yml
Due: none

Potential fix for code scanning alert no. 7: Workflow does not contain permissions
  .github/workflows/release-publish-package.yml
Due: none

Potential fix for code scanning alert no. 6: Workflow does not contain permissions
  .github/workflows/pr-test-playwright.yml
Due: none

Potential fix for code scanning alert no. 5: Workflow does not contain permissions
  .github/workflows/playwright-update.yml
Due: none

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/pr-test-linter.yml
Due: none

Potential fix for code scanning alert no. 3: Workflow does not contain permissions
  .github/workflows/pr-test-build.yml
Due: none

fix: release patch workflow
  .github/workflows/release-create-release.yml
Due: none
