Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
  stage_fixed: true

Guard text image cleanup for legacy renderers
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
Due: lint, typecheck

ci: align local and pr test coverage
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-playwright.yml
  Dockerfile
  compose.yml
  package.json
  vitest.config.mts
Due: lint

ci: avoid stale compose dependencies
  compose.yml
Due: none

Harder finite vpos boundaries
  src/@types/format.formatted.ts
  src/@types/format.legacy.ts
  src/@types/format.numeric.ts
  src/@types/format.v1.ts
  src/@types/index.ts
  src/input/legacy.ts
  src/input/legacyOwner.ts
  src/input/owner.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/main.ts
  src/utils/comment.ts
  tests/unit/inputParser.spec.ts
  tests/unit/renderer-draw-robustness.spec.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

fix package artifact docs consistency
  .github/workflows/pr-test-build.yml
  .github/workflows/release-create-release.yml
  README.en.md
  README.md
  docs/index.html
  docs/sample/sample.js
  package.json
  scripts/check-package-artifacts.mjs
  scripts/sync-docs-version.mjs
Due: lint

fix package artifact file matching
  scripts/check-package-artifacts.mjs
Due: lint

Allow finite negative vpos values
  src/@types/format.numeric.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/utils/comment.ts
  tests/unit/inputParser.spec.ts
Due: lint, typecheck

Preserve XML comments without dates
  src/@types/format.numeric.ts
  src/@types/format.v1.ts
  src/input/xmlDocument.ts
  src/typeGuard.ts
  tests/unit/inputParser.spec.ts
Due: lint, typecheck

Fix redraw dirty state after renderer flush restore
  src/@types/renderer.ts
  src/main.ts
  src/renderer/webgl2.ts
  tests/unit/renderer-draw-robustness.spec.ts
Due: lint, typecheck

Avoid repeated event vpos flooring
  src/main.ts
Due: lint, typecheck

Fix destroy lifecycle cleanup
  src/@types/IComment.ts
  src/@types/IPlugins.ts
  src/__tests__/html5css-renderer.spec.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/main.ts
  src/renderer/canvas.ts
  src/renderer/canvasPool.ts
  src/renderer/html5css.ts
  tests/unit/destroy-lifecycle.spec.ts
Due: lint, typecheck

Address destroy lifecycle review feedback
  src/comments/BaseComment.ts
  src/main.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Validate structured config overrides
  src/@types/config.ts
  src/typeGuard.ts
  tests/unit/init-option-config-bounds.spec.ts
Due: lint, typecheck

fix: align parser malformed input handling
  src/@types/format.legacy.ts
  src/@types/format.owner.ts
  src/@types/format.xml2js.ts
  src/input/legacyOwner.ts
  src/typeGuard.ts
  tests/unit/inputParser.spec.ts
Due: lint, typecheck

fix: simplify raw legacy response schema
  src/@types/format.legacy.ts
Due: lint, typecheck

Fix NicoScript range boundary semantics
  src/eventHandler.ts
  src/utils/comment.ts
  tests/unit/nicoscript-range.spec.ts
Due: lint, typecheck

Address NicoScript review hook findings
  src/eventHandler.ts
  src/utils/comment.ts
Due: lint, typecheck

fix: harden release workflow and renderer clear
  .github/workflows/release-create-release.yml
  src/main.ts
  tests/unit/canvas-renderer-clear.spec.ts
Due: lint, typecheck

fix: address release workflow review feedback
  .github/workflows/release-create-release.yml
Due: none

Fix HTML5 owner replace comment positioning
  docs/coding-agent/plans/active/issue-378-html5-owner-replace-position-plan.md
  src/comments/HTML5Comment.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Address HTML5 owner positioning review
  docs/coding-agent/plans/active/issue-378-html5-owner-replace-position-plan.md
  src/comments/HTML5Comment.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Add Playwright regression snapshot for owner replace
  Dockerfile
  docs/sample/commentdata/-1.json
  playwright.config.ts
  src/__tests__/renderer-equivalence.spec.ts
  src/__tests__/test.spec.ts
  src/__tests__/test.spec.ts-snapshots/-1-30-firefox-linux.png
Due: lint, typecheck

Normalize Playwright base URL config
  playwright.config.ts
Due: lint, typecheck

Match HTML5 resize regression to v0.2.76
  docs/coding-agent/lessons.md
  docs/coding-agent/plans/completed/issue-378-v0276-regression-plan.md
  docs/sample/commentdata/-1.json
  docs/sample/test.html
  src/__tests__/test.spec.ts
  src/__tests__/test.spec.ts-snapshots/-1-30-firefox-linux.png
  src/comments/HTML5Comment.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Remove agent planning docs from regression fix
  docs/coding-agent/lessons.md
  docs/coding-agent/plans/completed/issue-378-v0276-regression-plan.md
Due: none

Clamp legacy HTML5 resize step
  src/comments/HTML5Comment.ts
Due: lint, typecheck

Use v0.2.76 visual baselines
  src/__tests__/test.spec.ts
  src/__tests__/test.spec.ts-snapshots/11-55-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
Due: lint, typecheck

fix release workflow push auth
  .github/workflows/release-create-release.yml
Due: none

chore: bump version to v0.3.1
  README.en.md
  README.md
  docs/index.html
  docs/sample/index.html
  docs/sample/sample.js
  package.json
Due: lint

fix release tag target
  .github/workflows/release-publish-package.yml
Due: none

異なる表示時間のコメント衝突判定を修正
  docs/coding-agent/plans/completed/mixed-duration-collision-plan.md
  src/utils/comment.ts
  tests/bench/collision.bench.ts
  tests/unit/movable-collision.spec.ts
Due: lint, typecheck

軌道交差判定の境界計算を修正
  docs/coding-agent/lessons.md
  docs/coding-agent/plans/completed/mixed-duration-collision-review-fixes-plan.md
  src/utils/comment.ts
  tests/unit/movable-collision.spec.ts
Due: lint, typecheck

dev build
  dist/bundle.js
Due: lint

chore: consolidate non-TypeScript action updates
  .github/workflows/dev-build.yml
  .github/workflows/playwright-update.yml
  .github/workflows/pr-test-build.yml
  .github/workflows/pr-test-codeql-analysis.yml
  .github/workflows/pr-test-linter.yml
  .github/workflows/pr-test-playwright.yml
  .github/workflows/release-create-release.yml
  .github/workflows/release-publish-package.yml
  .github/workflows/release-typedoc.yml
  docs/coding-agent/lessons.md
  docs/coding-agent/plans/active/consolidate-green-non-typescript-dependency-updates-plan.md
Due: none

docs: complete dependency update plan
  docs/coding-agent/plans/completed/consolidate-green-non-typescript-dependency-updates-plan.md
Due: none

feat: コメント単位のscaleコマンドを追加
  docs/coding-agent/lessons.md
  docs/coding-agent/plans/completed/nico-scale-comment-override-plan.md
  docs/index.html
  docs/localize.js
  src/@types/types.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/typeGuard.ts
  src/utils/comment.ts
  tests/unit/flash-resource-bounds.spec.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

refactor: keepCAのscale判定をlayerから分離
  docs/coding-agent/lessons.md
  docs/coding-agent/plans/completed/keep-ca-scale-state-decoupling-plan.md
  docs/localize.js
  src/comments/BaseComment.ts
  src/contexts/instanceContext.ts
  src/main.ts
  src/utils/commentArt.ts
  tests/bench/helpers.ts
  tests/unit/comment-art-resource-bounds.spec.ts
  tests/unit/destroy-lifecycle.spec.ts
  tests/unit/duration-lazy.spec.ts
  tests/unit/flash-resource-bounds.spec.ts
  tests/unit/html5-resource-bounds.spec.ts
  tests/unit/nicoscript-range.spec.ts
Due: lint, typecheck

refactor: split layer into collisionLayer/ignoreScale, drop owner from collision check
  docs/sample/commentdata/-1.json
  docs/sample/commentdata/19.json
  docs/sample/commentdata/23.json
  docs/sample/commentdata/24.json
  docs/sample/commentdata/25.json
  src/@types/IComment.ts
  src/@types/format.formatted.ts
  src/@types/format.numeric.ts
  src/@types/types.ts
  src/comments/BaseComment.ts
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/input/legacy.ts
  src/input/legacyOwner.ts
  src/input/owner.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/main.ts
  src/utils/collisionLayer.ts
  src/utils/comment.ts
  src/utils/commentArt.ts
  src/utils/flash.ts
  src/utils/index.ts
  tests/unit/collision-layer-defaults.spec.ts
  tests/unit/comment-art-resource-bounds.spec.ts
  tests/unit/movable-collision.spec.ts
Due: lint, typecheck

fix: accept deprecated layer via a strict/legacy schema union instead of an alias field
  src/@types/format.formatted.ts
  tests/unit/collision-layer-defaults.spec.ts
Due: lint, typecheck

refactor: stop renaming the public layer input field, only rename internally
  docs/sample/commentdata/-1.json
  docs/sample/commentdata/19.json
  docs/sample/commentdata/23.json
  docs/sample/commentdata/24.json
  docs/sample/commentdata/25.json
  src/@types/format.formatted.ts
  tests/unit/collision-layer-defaults.spec.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
