Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
      stage_fixed: true

chore: bump version to v0.2.76
  package.json
Due: lint

chore: add funding.yml
  .github/FUNDING.yml
Due: none

chore: migrate config
  biome.json
  package.json
Due: lint

fix: apply lint fix
  src/@types/index.ts
  src/definition/config.ts
  src/eventHandler.ts
  src/input/legacyOwner.ts
  src/main.ts
  src/utils/comment.ts
  src/utils/flash.ts
Due: lint, typecheck

chore: approve build
  package.json
Due: lint

feat: claude.md
  .gitignore
  CLAUDE.md
Due: none

chore: update permissions and remove unused environment variable in release workflow
  .github/workflows/release-publish-package.yml
Due: none

chore: update schema path in biome.json to use local configuration
  biome.json
Due: lint

Add packageRules to disable patch updates
  renovate.json
Due: lint

fix: upgrade dependencies to fix audit warning
  package.json
  pnpm-lock.yaml
Due: lint

chore: add plans.md
  .agent/PLANS.md
Due: none

chore: add optimize performance plan
  plans/exec-plan-performance.md
Due: none

chore: add test workflow
  .github/workflows/pr-test-vitest.yml
  package.json
Due: lint

fix: ensure minimum character size during resize calculations
  src/comments/HTML5Comment.ts
Due: lint, typecheck

fix: ensure minimum line height and character size during resizing
  .github/workflows/pr-test-vitest.yml
  src/comments/HTML5Comment.ts
Due: lint, typecheck

update: playwright screenshots
  src/__tests__/test.spec.ts-snapshots/11-55-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
Due: none

fix: fmt
  src/contexts/cache.ts
  src/contexts/nicoscript.ts
  src/contexts/plugins.ts
  src/definition/colors.ts
  src/definition/config.ts
  src/definition/fonts.ts
  src/definition/initConfig.ts
  src/errors/CanvasRenderingContext2DError.ts
  src/errors/InvalidFormatError.ts
  src/errors/InvalidOptionError.ts
  src/errors/NotImplementedError.ts
  src/errors/TypeGuardError.ts
  src/renderer/canvas.ts
Due: lint, typecheck

fix: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: lint

perf: 衝突検出アルゴリズムの最適化とベンチマーク基盤の導入
  package.json
  pnpm-lock.yaml
  src/utils/array.ts
  src/utils/comment.ts
  tests/bench/collision.bench.ts
  tests/bench/helpers.ts
  tests/bench/parsing.bench.ts
  tests/bench/utils.bench.ts
  vitest.config.mts
Due: lint, typecheck

feat: replace Rollup with Rolldown for JS bundling
  .babelrc.js
  package.json
  pnpm-lock.yaml
  rolldown.config.mjs
  rollup.config.mjs
  tsconfig.json
Due: lint

revert: PR #232 (82ee990) - comment layout processing broken
  .github/workflows/pr-test-vitest.yml
  package.json
  plans/exec-plan-performance.md
  pnpm-lock.yaml
  src/comments/HTML5Comment.ts
  src/input/legacy.ts
  src/input/v1.ts
  src/input/xml2js.ts
  src/input/xmlDocument.ts
  src/main.ts
  src/utils/comment.ts
  tests/unit/helpers.ts
  tests/unit/html5-measure.spec.ts
  tests/unit/input-parsers.spec.ts
  tests/unit/utils-comment.spec.ts
  vitest.config.ts
Due: lint, typecheck

revert: ebce136 - restore original playwright screenshots
  src/__tests__/test.spec.ts-snapshots/11-55-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
Due: none

fix: use ^ range for rolldown RC and remove redundant --skipLibCheck flags
  lefthook.yml
  package.json
Due: lint

fix: update pnpm-lock.yaml to match rolldown ^ specifier
  pnpm-lock.yaml
Due: none

fix: レビュー指摘の修正 — 衝突判定の状態累積バグと型整合性
  src/main.ts
  src/utils/comment.ts
Due: lint, typecheck

feat: post Playwright failure screenshots as PR comments
  .github/workflows/cleanup-playwright-artifacts.yml
  .github/workflows/pr-test-playwright.yml
Due: none

refactor: getPosY の冗長分岐除去と speed 計算の一元化
  src/utils/comment.ts
Due: lint, typecheck

fix: add --project tsconfig.json to tsc commands for consistency
  package.json
Due: lint

fix: pin rolldown to exact RC version
  package.json
  pnpm-lock.yaml
Due: lint

fix: address PR review feedback
  .github/workflows/cleanup-playwright-artifacts.yml
  .github/workflows/pr-test-playwright-comment.yml
  .github/workflows/pr-test-playwright.yml
  .github/workflows/release-publish-package.yml
Due: none

fix: extract pr-info upload into standalone job
  .github/workflows/pr-test-playwright.yml
Due: none

fix: ベンチマークの衝突密度を現実的に改善し、||= 修正にコメント追加
  src/utils/comment.ts
  tests/bench/helpers.ts
Due: lint, typecheck

fix: address code review feedback on CI workflows
  .github/workflows/cleanup-playwright-artifacts.yml
  .github/workflows/pr-test-playwright-comment.yml
Due: none

fix: vitest config に passWithNoTests を追加
  vitest.config.mts
Due: none

fix: ベンチマークのセットアップコスト分離と devDependencies 順序修正
  package.json
  tests/bench/collision.bench.ts
Due: lint, typecheck

fix: add actions:read permission and clean stale comments on early-return
  .github/workflows/pr-test-playwright-comment.yml
Due: none

fix: isBreak ||= 修正にコメント追加
  src/utils/comment.ts
Due: lint, typecheck

fix: ベンチマークの衝突密度を現実的に改善し、||= 修正にコメント追加
  tests/bench/parsing.bench.ts
  tests/bench/utils.bench.ts
Due: lint, typecheck
