Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
      stage_fixed: true

Avoid dead CSS image cache writes
  src/renderer/html5css.ts
Due: lint, typecheck

Guard CSS sub-renderer invalidation callback
  src/renderer/html5css.ts
Due: lint, typecheck

Add renderer switcher and local build option to sample page
  docs/sample/index.html
  docs/sample/localize.js
  docs/sample/sample.css
  docs/sample/sample.js
Due: lint

Place drawImage sources as live canvas elements instead of img+toDataURL
  src/renderer/html5css.ts
Due: lint, typecheck

Configure Renovate minimum release age
  renovate.json
Due: lint

Add cross-renderer equivalence tests with inline pixelmatch comparison
  docs/sample/test.html
  package.json
  pnpm-lock.yaml
  src/__tests__/renderer-equivalence.spec.ts
Due: lint, typecheck

Restrict npm publish workflow dispatch
  .github/workflows/release-publish-package.yml
Due: none

Lazy allocate flash button canvases
  src/comments/FlashComment.ts
  tests/unit/flash-resource-bounds.spec.ts
Due: lint, typecheck

Harden CI artifact handoff
  .github/workflows/dev-build.yml
  .github/workflows/release-typedoc.yml
Due: none

Require TypeDoc artifact output
  .github/workflows/release-typedoc.yml
Due: none

Guard ban frame draw path work
  src/eventHandler.ts
  src/main.ts
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Rewrite Flash spacer parsing iteratively
  src/comments/FlashComment.ts
  src/utils/flash.ts
  tests/unit/flash-resource-bounds.spec.ts
Due: lint, typecheck

docs: tighten sample script policy and render loop
  README.md
  docs/sample/index.html
  docs/sample/sample.js
Due: lint

Address ban guard review findings
  src/eventHandler.ts
  src/main.ts
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Address Flash parser review feedback
  src/comments/FlashComment.ts
  src/utils/flash.ts
Due: lint, typecheck

Fix ban guard hook findings
  src/main.ts
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Redraw on ban state changes
  src/main.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Guard keepCA comment art grouping
  src/utils/commentArt.ts
  tests/unit/comment-art-resource-bounds.spec.ts
Due: lint, typecheck

Address keepCA review feedback
  src/utils/commentArt.ts
  tests/unit/comment-art-resource-bounds.spec.ts
Due: lint, typecheck

Validate init option and config bounds
  src/main.ts
  src/typeGuard.ts
  tests/unit/init-option-config-bounds.spec.ts
Due: lint, typecheck

Address init bounds review findings
  src/main.ts
  src/typeGuard.ts
  tests/unit/init-option-config-bounds.spec.ts
Due: lint, typecheck

Fix html5css-renderer tests broken by img→canvas refactor
  src/__tests__/html5css-renderer.spec.ts
Due: lint, typecheck

Fix stale CSS renderer accumulation and add diffRatio size guard
  docs/sample/sample.js
  src/__tests__/renderer-equivalence.spec.ts
Due: lint, typecheck

Set cssRendererElement transform after HTML5CSSRenderer construction
  docs/sample/sample.js
Due: lint

Fix invalidateImage, onChange overhead, and clearRect state drift
  src/__tests__/html5css-renderer.spec.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Add CSS renderer skip guard; fix getNumber zero-width fallback
  src/__tests__/renderer-equivalence.spec.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Fix stroke() no-op path; use loadBundle for evaluate-based tests
  src/__tests__/html5css-renderer.spec.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Restore 0.2.78 dropdown option; soften diffRatio size check; document MAX_HELPER_SURFACES
  docs/sample/index.html
  src/__tests__/renderer-equivalence.spec.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Wrap CSS renderer construction in try/catch in test.html
  docs/sample/test.html
Due: none

Remove ghost canvas from DOM in invalidateImage
  src/renderer/html5css.ts
Due: lint, typecheck

Fail fast in loadCssSample if CSS renderer throws
  src/__tests__/html5css-renderer.spec.ts
Due: lint, typecheck

Fix CSS renderer display-scale and clarify onChange comment
  docs/sample/sample.js
  src/renderer/html5css.ts
Due: lint, typecheck

Document overflow-helper invariant and destroy edge case; fix loadBundle race
  src/__tests__/html5css-renderer.spec.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Fix CSS renderer scale loss and clear API source canvas leak
  src/__tests__/html5css-renderer.spec.ts
  src/main.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Guard setSize() against stale mid-frame scale in resetState()
  src/renderer/html5css.ts
Due: lint, typecheck

Fix setSize() helper teardown order and document _onChange intent
  src/renderer/canvas.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Fix _onChange comment to include resize operations
  src/renderer/canvas.ts
Due: lint, typecheck

Fix stroke() textDrawnBeforeDom flag and clarify equivalence test note
  src/__tests__/renderer-equivalence.spec.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Fix drawImage duplicate-canvas collision when same IRenderer drawn twice per frame
  src/renderer/html5css.ts
Due: lint, typecheck

Fix cloneMap invalidation and apply displayScale to CSS renderer in sample
  docs/sample/sample.js
  src/renderer/html5css.ts
Due: lint, typecheck
