Repository xpadev-net/niconicomments: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit --skipLibCheck --pretty --noErrorTruncation --skipDefaultLibCheck --project tsconfig.json
  stage_fixed: true

chore: reenable dev build in sample page
  docs/sample/sample.js
Due: lint

Fix padded comment image positioning
  src/__tests__/test.spec.ts-snapshots/0-20-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/11-55-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/11-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-105-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-50-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/8-50-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
  src/comments/FlashComment.ts
  src/renderer/canvas.ts
  src/renderer/html5css.ts
  src/renderer/webgl2.ts
  tests/unit/canvas-renderer-clear.spec.ts
Due: lint, typecheck

update: playwright screenshots
  src/__tests__/test.spec.ts-snapshots/11-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-50-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/8-50-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
Due: none

Update CI snapshots for padded image fix
  src/__tests__/test.spec.ts-snapshots/11-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-50-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/8-50-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
Due: none

Avoid redundant HTML5 draw rect calculation
  src/renderer/html5css.ts
Due: lint, typecheck

fix: allow playwright comment workflow to write PR comments
  .github/workflows/pr-test-playwright-comment.yml
Due: none

fix: allow playwright comment workflow to write PR comments (#344)
  .github/workflows/pr-test-playwright-comment.yml
Due: none

Fix padded comment image positioning (#343)
  src/__tests__/test.spec.ts-snapshots/0-20-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/11-55-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/11-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-105-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-50-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/15-90-firefox-linux.png
  src/__tests__/test.spec.ts-snapshots/9-70-firefox-linux.png
  src/comments/FlashComment.ts
  src/renderer/canvas.ts
  src/renderer/html5css.ts
  src/renderer/webgl2.ts
  tests/unit/canvas-renderer-clear.spec.ts
Due: lint, typecheck

Address v0.3.0 release review feedback
  package.json
  src/renderer/canvas.ts
Due: lint, typecheck

Handle package lifecycle review feedback
  package.json
  scripts/prepare.mjs
Due: lint

Warn when prepare lacks INIT_CWD
  scripts/prepare.mjs
Due: lint

Address v0.3.0 release review feedback (#346)
  package.json
  scripts/prepare.mjs
  src/renderer/canvas.ts
Due: lint, typecheck

Fix renderer destroy and lazy addComments ordering
  src/main.ts
  tests/unit/duration-lazy.spec.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

Address review feedback for lazy ordering helper
  src/main.ts
Due: lint, typecheck

Fix renderer destroy and lazy addComments ordering (#347)
  src/main.ts
  tests/unit/duration-lazy.spec.ts
  tests/unit/timeline.spec.ts
Due: lint, typecheck

Fix benchmark resets and CSS canvas invalidation
  src/__tests__/html5css-renderer.spec.ts
  src/definition/config.ts
  src/renderer/html5css.ts
  tests/bench/helpers.ts
Due: lint, typecheck

Reset benchmark options from initial defaults
  src/definition/config.ts
  tests/bench/helpers.ts
Due: lint, typecheck

Clean up owned CSS canvases on destroy
  src/__tests__/html5css-renderer.spec.ts
  src/definition/config.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Fix benchmark resets and CSS canvas invalidation (#348)
  src/__tests__/html5css-renderer.spec.ts
  src/definition/config.ts
  src/renderer/html5css.ts
  tests/bench/helpers.ts
Due: lint, typecheck

Fix zero-duration optional NicoScript ranges
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Fix zero-duration optional NicoScript ranges (#349)
  src/utils/comment.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

chore: avoid checkout token in dev build push job
  .github/workflows/dev-build.yml
Due: none

Restrict sample dev build version selection
  docs/sample/sample.js
Due: lint

Keep lazy scan sorted after live comments
  src/main.ts
  tests/unit/duration-lazy.spec.ts
Due: lint, typecheck

Fix HTML5 offscreen comment padding
  src/comments/HTML5Comment.ts
  tests/unit/html5-resource-bounds.spec.ts
Due: lint, typecheck

Hide sample dev option unless local flag is enabled
  docs/sample/sample.js
Due: lint

Bound HTML5CSS external canvas copies per frame
  src/__tests__/html5css-renderer.spec.ts
  src/renderer/html5css.ts
Due: lint, typecheck

Restrict sample dev build version selection (#351)
  docs/sample/sample.js
Due: lint

Cache HTML5 offscreen image bounds
  src/comments/HTML5Comment.ts
Due: lint, typecheck

Fix sample version option dedupe
  docs/sample/sample.js
Due: lint

Fix dev-build checkout without token
  .github/workflows/dev-build.yml
Due: none

Sync docs sample versions from package metadata
  .github/workflows/release-create-release.yml
  README.md
  docs/index.html
  docs/sample/index.html
  docs/sample/sample.js
  package.json
  scripts/sync-docs-version.mjs
Due: lint

Fix scaled canvas public clear
  src/main.ts
  src/renderer/canvas.ts
  tests/unit/canvas-renderer-clear.spec.ts
Due: lint, typecheck

Address clear dispatch review
  src/main.ts
  tests/unit/canvas-renderer-clear.spec.ts
Due: lint, typecheck

Address docs version sync review findings
  .github/workflows/release-create-release.yml
  scripts/sync-docs-version.mjs
Due: lint

Fix redraw skip for dynamic overlays
  src/main.ts
  tests/unit/renderer-draw-robustness.spec.ts
Due: lint, typecheck

Account for cursor changes in redraw skip
  src/main.ts
  tests/unit/renderer-draw-robustness.spec.ts
Due: lint, typecheck

Fix renderer resource cleanup on failures
  src/comments/FlashComment.ts
  src/comments/HTML5Comment.ts
  src/renderer/webgl2.ts
  tests/unit/flash-resource-bounds.spec.ts
  tests/unit/html5-resource-bounds.spec.ts
  tests/unit/renderer-draw-robustness.spec.ts
Due: lint, typecheck

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
